/Application/ApplicationC/build-AVNAppC-Desktop_Qt_5_15_2_GCC_64bit-Debug
/Application/ApplicationC/.DS_Store
/Application/Images/.DS_Store
/Application/ApplicationA/build-AVNAppA-Desktop_Qt_5_15_2_GCC_64bit-Debug

/Framework/AVNServiceB/.vscode
/Framework/AVNServiceB/*.exe
/Framework/build-AVNService-Desktop_Qt_5_15_2_GCC_64bit-Debug

*/.vscode
